.container {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 100px; }
  .container .search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 35px;
    height: 35px;
    background: #344676;
    border-radius: 25%;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    z-index: 4; }
    .container .search:hover {
      cursor: pointer; }
    .container .search::before {
      content: "";
      position: absolute;
      margin: auto;
      top: 9px;
      right: 0;
      bottom: 0;
      left: 9px;
      width: 8px;
      height: 2px;
      background: white;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s; }
    .container .search::after {
      content: "";
      position: absolute;
      margin: auto;
      top: -5px;
      right: 0;
      bottom: 0;
      left: -5px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 2px solid white;
      -webkit-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s; }
  .container input {
    font-family: 'Inconsolata', monospace;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 30px;
    outline: none;
    border: none;
    background: #344676;
    color: white;
    text-shadow: 0 0 10px #344676;
    padding: 0 80px 0 20px;
    border-radius: 30px;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em; }
    .container input:hover {
      cursor: pointer; }
    .container input:focus {
      width: 180px;
      opacity: 1;
      cursor: text; }
    .container input:focus ~ .search {
      right: -180px;
      background: #151515;
      z-index: 6; }
      .container input:focus ~ .search::before {
        top: 0;
        left: 0;
        width: 25px; }
      .container input:focus ~ .search::after {
        top: 0;
        left: 0;
        width: 25px;
        height: 2px;
        border: none;
        background: white;
        border-radius: 0%;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg); }
    .container input::-webkit-input-placeholder {
      color: white;
      opacity: 0.5;
      font-weight: bolder; }
    .container input:-ms-input-placeholder {
      color: white;
      opacity: 0.5;
      font-weight: bolder; }
    .container input::-ms-input-placeholder {
      color: white;
      opacity: 0.5;
      font-weight: bolder; }
    .container input::placeholder {
      color: white;
      opacity: 0.5;
      font-weight: bolder; }
