
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
  font-family: Arial;
  font-size: 16px;
//   background: #5e42a6;
}

.sidebar {
  position: fixed;
  width: 20%;
  height: 100vh;
  background: #344676;
  font-size: 0.65em;
  border-radius: 0px 0px 0px 0px;
}

.nav {
  position: relative;
  margin: 0 15%;
  text-align: right;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
}

.nav ul {
  list-style: none;
  
  li {
    position: relative;
    margin: 3.2em 0;
    
    a {
      line-height: 5em;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.4em;
      color: rgba(#FFF, 0.35);
      display: block;
      transition: all ease-out 300ms;
    }
    
    &.active a {
      color: white;
    }
    
    &:not(.active)::after {
      opacity: 0.2;
    }
    
    &:not(.active):hover a {
      color: rgba(#FFF, 0.75);
    }
    
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 0.2em;
      background: black;
      left: 0;
      bottom: 0;
      background-image: linear-gradient(to right, #5e42a6, #b74e91)
    }
  }
}





// @import url('https://fonts.googleapis.com/css?family=Inconsolata:700');

// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

// html, body {
//   width: 100%;
//   height: 100%;
// }

// body {
//   background: #252525;
// }



// @import url('https://fonts.googleapis.com/css?family=Inconsolata:700');

// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

// html, body {
//   width: 100%;
//   height: 100%;
// }

// body {
//   background: #252525;
// }

.searchbar {
  // position: absolute;
  // margin: auto;
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;
  // width: 300px;
  // height: 100px;
  .search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 35px;
    height: 35px;
    background: #344676;
    border-radius: 25%;
    transition: all 1s;
    z-index: 4;
    // box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
    // box-shadow: 0 0 25px 0 crimson;
    &:hover {
      cursor: pointer;
    }
    &::before {
      content: "";
      position: absolute;
      margin: auto;
      top: 8px;
      right: 0;
      bottom: 0;
      left: 6px;
      width: 6px;
      height: 2px;
      background: white;
      transform: rotate(45deg);
      transition: all .5s;
    }
    &::after {
      content: "";
      position: absolute;
      margin: auto;
      top: -3px;
      right: 0;
      bottom: 0;
      left: -3px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 2px solid white;
      transition: all .5s;
    }
  }
  input {
    font-family: 'Inconsolata', monospace;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 30px;
    outline: none;
    border: none;
    // border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: #344676;
    color: #fff;
    text-shadow: 0 0 8px #344676;
    padding: 0 10px 0 20px;
    border-radius: 30px;
    // box-shadow: 0 0 10px 0 #344676,
    //             0 5px 11px 0 rgba(0, 0, 0, 0.2);
    // box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, 0.5);
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
    &:hover {
      cursor: pointer;
    }
    &:focus {
      width: 215px;
      opacity: 1;
      cursor: text;
    }
    &:focus ~ .search {
      right: -180px;
      background: #151515;
      z-index: 6;
      &::before {
        top: 0;
        left: 0;
        width: 25px;
      }
      &::after {
        top: 0;
        left: 0;
        width: 25px;
        height: 2px;
        border: none;
        background: white;
        border-radius: 0%;
        transform: rotate(-45deg);
      }
    }
    &::placeholder {
      color: white;
      opacity: 0.5;
      font-weight: bolder;
    }
  }
}




