
/*--------------------------------------------------------------
# Navigation Section
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans');


*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.navbar .container .navbar-brand{
  color:#344676 ;
  font-family: "Raleway", sans-serif;
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
}

.navbar-nav li.signup a.hov {
    color: #fff;
    background: #f82249;
    padding: 7px 22px;
    border-radius: 50px;
    border: 2px solid #f82249;
    transition: all ease-in-out 0.3s;
    font-weight: 500;
    margin-left: 8px;
    margin-top: 2px;
    line-height: 1;
    font-size: 13px;
}

.circle-icon i {
  background: none;
  text-align: center;
	border: 3px solid #eee;
	border-radius: 50%;
	box-sizing: content-box;
	color: #CC253D;
	display: inline-block;
	font-size: 1.42857rem;
	height: 1.42857rem;
	padding: 10px;
	width: 1.42857rem;
	-moz-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	-webkit-transition: color 0.2s linear;
	transition: color 0.2s linear

}

.circle-iconn i {
  background: none;
  text-align: center;
	border: 3px solid #eee;
	border-radius: 50%;
	box-sizing: content-box;
	color: #CC253D;
	display: inline-block;
	font-size: 1.42857rem;
	height: 1.42857rem;
	padding: 10px;
	width: 1.42857rem;
	-moz-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	-webkit-transition: color 0.2s linear;
	transition: color 0.2s linear

}

.log-iconn i {
  background: none;
  text-align: center;
	border: 3px solid #eee;
	border-radius: 50%;
	box-sizing: content-box;
	color: #CC253D;
	display: inline-block;
	font-size: 0.52857rem;
	height: 0.52857rem;
	padding: 10px;
	width: 0.52857rem;
	-moz-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	-webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
  text-decoration: none;

}
.pass-change a{
  text-decoration: none;
  color: #344676;
}

.circle-blogg i {
  background: none;
  text-align: center;
	border: 3px solid #eee;
	border-radius: 50%;
	box-sizing: content-box;
	color: #CC253D;
	display: inline-block;
	font-size: 2.42857rem;
	height: 2.42857rem;
	padding: 10px;
	width: 2.42857rem;
	-moz-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	-webkit-transition: color 0.2s linear;
	transition: color 0.2s linear

}

.circle-blog i {
  background: none;
  text-align: center;
	border: 3px solid #eee;
	border-radius: 50%;
	box-sizing: content-box;
	color: #CC253D;
	display: inline-block;
	font-size: 3.82857rem;
	height: 3.82857rem;
	padding: 10px;
	width: 3.82857rem;
	-moz-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	-webkit-transition: color 0.2s linear;
	transition: color 0.2s linear

}
.circle-icon i:hover {
  border-color: #CC253D;
}

.dotted {
  border:none;
  border-top:1px dotted #D3D3D3;
  color:#fff;
  background-color:#fff;
  height:1px;
  width:100%;
}

.serv-dotted{
  border:none;
  border-top:2px dotted #f82249;
  color:#fff;
  background-color:#fff;
  height:2px;
  width:40%;
  text-align: left;
}


.circle-face i {
  background: none;
  text-align: center;
	border: 2px solid #3B5998;
	border-radius: 50%;
	box-sizing: content-box;
	color: #000000;
	display: inline-block;
	font-size: 1.02857rem;
	height: 1.02857rem;
	padding: 10px;
	width: 1.02857rem;
	-moz-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	-webkit-transition: color 0.2s linear;
	transition: color 0.2s linear

}

.circle-face i:hover {
  background: #3B5998;
  color: #fff;
}

.circle-tweet i {
  background: none;
  text-align: center;
	border: 2px solid #188FD8;
	border-radius: 50%;
	box-sizing: content-box;
	color: #000000;
	display: inline-block;
	font-size: 1.02857rem;
	height: 1.02857rem;
	padding: 10px;
	width: 1.02857rem;
	-moz-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	-webkit-transition: color 0.2s linear;
	transition: color 0.2s linear

}

.circle-tweet i:hover {
  background: #188FD8;
  color: #fff;
}

.circle-inst i {
  background: none;
  text-align: center;
	border: 2px solid #188FD8;
	border-radius: 50%;
	box-sizing: content-box;
	color: #000000;
	display: inline-block;
	font-size: 1.02857rem;
	height: 1.02857rem;
	padding: 10px;
	width: 1.02857rem;
	-moz-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	-webkit-transition: color 0.2s linear;
	transition: color 0.2s linear

}

.circle-inst i:hover {
  background: #188FD8;
  color: #fff;
}

.circle-pin i {
  background: none;
  text-align: center;
	border: 2px solid #CC253D;
	border-radius: 50%;
	box-sizing: content-box;
	color: #000000;
	display: inline-block;
	font-size: 1.02857rem;
	height: 1.02857rem;
	padding: 10px;
	width: 1.02857rem;
	-moz-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	-webkit-transition: color 0.2s linear;
	transition: color 0.2s linear

}

.circle-pin i:hover {
  background: #CC253D;
  color: #fff;
}

.corner{
  border-radius: 0px 50px 50px 0px;
  background: #73AD21;
  padding: 20px; 
  width: 150px;
  height: 35px;
  text-align: center;
  overflow: hidden;
}


.corner a{
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}


.pag-circle span {
  background: none;
  text-align: center;
	border: 2px solid #eee;
	border-radius: 50%;
	box-sizing: content-box;
	color: #CC253D;
	display: inline-block;
	font-size: 1.12857rem;
	height: 1.12857rem;
	padding: 10px;
	width: 1.12857rem;
	-moz-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	-webkit-transition: color 0.2s linear;
	transition: color 0.2s linear

}
.pag-circle span:hover {
  background-color: #CC253D;
  border: 2px solid #CC253D;
  color: #eee !important;
  box-shadow: 0px 7px 15px -8px rgb(149, 35, 52);
  transform: scale(1.10, 1.10);

}

.container .list-inline .list-inline-item a{
  text-decoration: none;
  color: #707070;
}

.text-area .card {
  background-color: #006494 !important;
}

.container .list-inline .list-inline-item a:hover{
  font-weight: 600;
}

.container .list-inline .list-inline-item span{
  color: #707070;
}


.col-lg-8 .about .card-title .reply{
  color: #CC253D;
}

.container .fa-color i{
  color: #344676;
}

.container .fa-color a {
  color: #CC253D;
}

.container .fa-color a i{
  color: #CC253D;
}

.comtainer .butt .about .btn:hover{
  color:#f82249 ;
}

.container .icon-color i{
  color: #344676;
}

.container .my-5 .post-comm .form-group .post-btn{
  color: #CC253D;
}

.container .row .blog .mx-auto h6{
  color: #707070;
}

.container .row .blog .mx-auto h6{
  font-size: 20px;
}

.container .row .blog .mx-auto h1{
  font-size: 30px;
}

.container .row .col-sm .mx-auto .rounded img{
  height: 350px;
}

.container .row .col-sm .mx-auto .img-card img{
  height: 175px;
}

.page-footer .container .row .mx-auto ul li a{
  text-decoration: none;
}

.page-footer .container .row .mx-auto ul li a:hover{
  color: #b5bec7;
}

.page-footer .footer-copyright a{
  text-decoration: none;
}
  
.navbar-nav li.signup a:hover {
    background: none;
}
  
.navbar-nav li.signup:hover a:before,
.navbar-nav li.signup.menu-active a:before {
    visibility: hidden;
}

.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}

.side .list-group li a{
  color: #707070;
}

.list-group li {
 border: none;
}
.list-group li a{
  text-decoration: none;
}

.goals .list-inline li a{
  text-decoration: none;
  color: #222529;
}

.goals .appoint li a{
  font-weight: 600;
  color: #707070;
}

.shadow .goals h2 {
  color: #222529;
}

.goals .list-group li a{
  color: #707070;
}

.serv .list-group li i {
  color: #344676;
}
.serv .list-group li a {
  color: #222529;
}

  
.navbar-nav a:hover {
    border-bottom: 2px solid #f82249;
}


/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/


  
.container h1 {
    color:#222529 ;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}


.container p {
    color: #707070;
    font-weight: 700;
    font-size: 12px;
}

.page-footer {
  background-color: #2A4365;
}
.page-footer .container .row{
  color: #e2e8f0;
}

.page-footer .row p{
  color: #cbd5e0;
}

.page-footer .row ul li a{
  color: #cbd5e0;
}

.page-footer .footer-copyright{
  color: #cbd5e0;
}





/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/

/*   */
.about a.hov{
  color: #fff;
    background: #f82249;
    padding: 7px 22px;
    border-radius: 50px;
    border: 2px solid #f82249;
    transition: all ease-in-out 0.3s;
    font-weight: 500;
    margin-left: 8px;
    margin-top: 2px;
    line-height: 1;
    font-size: 13px;
}

.about a:hover {
  background: none;
}

.goals h5{
  color: #f82249;
}
.goals h2{
  color: #f82249;
}



.about li.signup:hover a:before,
.about li.signup.menu-active a:before {
  visibility: hidden;
}

.btn-outline-danger{
  border-radius: 20px;
}
.btn-outline-danger:hover{
  background: #f82249;
}


/*--------------------------------------------------------------
# Login / SignUP Section
--------------------------------------------------------------*/  

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('/img/login.svg');
  background-size: 50% 100%;
  background-position: center;
  background-repeat: no-repeat;

}

.bg-image1 {
    background-image: url('/img/signup.svg');
    background-size: 80% 100%;
    background-position: center;
    background-repeat: no-repeat;
  
    
  }

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
  height: auto;
  border-radius: 2rem;
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  line-height: 1.5;
  color: #495057;
  cursor: text;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}





























.service a {
  color: #5b7abb;
  display: block;
}

.service h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #56ceba;
  font-size: 1.3rem;
  margin: 1rem 0 0.6rem;
}

.services-grid {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.service {
  background: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  -webkit-box-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #e7e7e7;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.service:hover {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
}

.service i {
  font-size: 3.45rem;
  margin: 1rem 0;
}

.service1 i,
.service1 h4,
.service1 .cta {
  color: #344676;
}

.service1:hover {
  border: 2px solid #344676;
}


.service > * {
  flex: 1 1 100%;
}

.service .cta {
  align-self: flex-end;
}









@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

*{
  box-sizing: border-box;
}
/* 
body, html {
   font-family: 'Roboto Slab', serif;
    margin: 0;
  width: 100%;
height: 100%;
    padding: 0;
} */

/* body {
  background-color: #D2DBDD;
  display: flex;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  justify-content: center;
  align-items: center;
} */


.blog_cards {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    max-width: 1300px;
}

.blog_card--1 .blog_card__img, .blog_card--1 .blog_card__img--hover {
    background-image: url('/img/heart.png');
}

.blog_card--2 .blog_card__img, .blog_card--2 .blog_card__img--hover {
    background-image: url('/img/pills.png');
}

.blog_card--3 .blog_card__img, .blog_card--3 .blog_card__img--hover {
  background-image: url('/img/doc.png');
}

.blog_card--4 .blog_card__img, .blog_card--4 .blog_card__img--hover {
  background-image: url('/img/food.png');
}

.blog_card--5 .blog_card__img, .blog_card--5 .blog_card__img--hover {
  background-image: url('/img/tree.png');
}

.blog_card__like {
    width: 18px;
}

.blog_card__clock {
    width: 15px;
  vertical-align: middle;
    fill: #AD7D52;
}
.blog_card__time {
    font-size: 12px;
    color: #AD7D52;
    vertical-align: middle;
    margin-left: 5px;
}

.blog_card__clock-info {
    float: right;
}

.blog_card__img {
  visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;
  
}

.blog_card__info-hover {
    position: absolute;
    padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.blog_card__img--hover {
  transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
  position: absolute;
    height: 235px;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;
top: 0;
  
}
.blog_card {
  margin-right: 25px;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
    width: 33.3%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
}
.alt_blog_card {
  margin-right: 25px;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  width: 61%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
}
.alt_blog_card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.342);
  transform: scale(1.10, 1.10);
}
.blog_card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
    transform: scale(1.10, 1.10);
}

.blog_card__info {
z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
   padding: 16px 24px 24px 24px;
}

.blog_card__category {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
  color: #868686;
}

.blog_card__title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Roboto Slab', serif;
}

.blog_card__by {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.blog_card__author {
    font-weight: 600;
    text-decoration: none;
    color: #AD7D52;
}

.alt_blog_card:hover .blog_card__img--hover {
  height: 100%;
  opacity: 0.3;
}

.blog_card:hover .blog_card__img--hover {
    height: 100%;
    opacity: 0.3;
}

.alt_blog_card:hover .blog_card__info {
  background-color: transparent;
  position: relative;
}

.blog_card:hover .blog_card__info {
    background-color: transparent;
    position: relative;
}

.alt_blog_card:hover .blog_card__info-hover {
  opacity: 1;
}

.blog_card:hover .blog_card__info-hover {
    opacity: 1;
}


@media all and (max-width:900px) {
  .services-grid {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
}

/* @media all and (max-width:900px) {
  .blog_cards {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
} */











/* @import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

.fa-2x {
font-size: 2em;
}
.faa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}

.faaa {
  position: relative;
  display: table-cell;
  width: 35px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size:40px !important;
  }


.main-menu:hover,nav.main-menu.expanded {
width:200px;
overflow:visible;
}

.main-menu {
background:#fff;
border-right:1px solid #e5e5e5;
position: fixed;
top:0;
bottom:0;
height:100%;
left:0;
/* width:47px;
overflow:hidden;
-webkit-transition:width .05s linear;
/* transition:width .05s linear; 
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

/* .main-menu li:hover{
} 
.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:200px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:170px;
font-family: 'Titillium Web', sans-serif; 
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#006494;
border-right:2px solid #006494;
}

.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
} */












a {
  text-decoration: none;
  color: inherit;
} 

/* Layout */
.s-layout {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.s-layout__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

/* Sidebar */
.s-sidebar__trigger {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3em;
  background: #192b3c;
}

.s-sidebar__trigger > i {
  display: inline-block;
  margin: 1.5em 0 0 1.5em;
  color: #f07ab0;
}

.s-sidebar__nav {
  position: fixed;
  top: 0;
  left: -12em;
  overflow: hidden;
  transition: all .2s ease-in;
  width: 12em;
  height: 100%;
  background: #fff;
  border-right:1px solid #e5e5e5;
  color:rgb(170, 171, 185);
  align-items: center;
  /* color: rgba(255, 255, 255, 0.7); */
}

.s-sidebar__nav:hover,
.s-sidebar__nav:focus,
.s-sidebar__trigger:focus + .s-sidebar__nav,
.s-sidebar__trigger:hover + .s-sidebar__nav {
  left: 0;
}

.s-sidebar__nav ul {
  position: absolute;
  top: 4em;
  left: 0;
  margin: 0;
  padding: 0;
  width: 12em;
}

.s-sidebar__nav ul li {
  width: 100%;
}

.s-sidebar__nav-link {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 2em;
}

.s-sidebar__nav-link em {
  position: absolute;
  top: 50%;
  left: 4em;
  transform: translateY(-50%);
}

.s-sidebar__nav-link:hover {
  /* background: #d8d9da; */
  border-right:2px solid #006494;
}

.s-sidebar__nav-link > i {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 4em;
  height: 2em;
}


  

.s-sidebar__nav-link > i::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Mobile First */
@media (min-width: 42em) {
  .s-layout__content {
     margin-left: 4em;
  }
  
  /* Sidebar */
  .s-sidebar__trigger {
     width: 4em;
  }
  
  .s-sidebar__nav {
     width: 4em;
     left: 0;
  }
  
  .s-sidebar__nav:hover,
  .s-sidebar__nav:focus,
  .s-sidebar__trigger:hover + .s-sidebar__nav,
  .s-sidebar__trigger:focus + .s-sidebar__nav {
     width: 12em;
  }
}

@media (min-width: 68em) {
  .s-layout__content {
     margin-left: 15em;
  }
  
  /* Sidebar */
  .s-sidebar__trigger {
     display: none
  }
  
  .s-sidebar__nav {
     width: 12em;
  }
  
  .s-sidebar__nav ul {
     top: 1.3em;
  }
}

.search-mov{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 420px;
  /* margin-left: 500px; */
}

.dash-logout{
  position: relative;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 200px;
}


